   {% extends "emails/base/layout.html" %} 
   {% block content %}
      <tr>
         <td style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';max-width:100vw;padding:30px">
            <h1 style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color:#3d4852;font-size:18px;font-weight:bold;margin-top:0;text-align:left">Hi {{username}},</h1>

            <p style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:15px;line-height:1.5em;margin-top:20px;text-align:justify; color: #718096;">
               Your account has reached the maximum keywords count. We are very much sure you may want to add more keywords. It’s not necessary to be a premium customer to add more keywords. 
            </p> 

            <p style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:15px;line-height:1.5em;margin-top:20px;text-align:justify; color: #718096;">
               Just share our tool with your friends and earn more keywords and projects when they do signups.
            </p> 

            <p style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:15px;line-height:1.5em;margin-top:20px;text-align:justify; color: #718096;">
               You can avail 100 keywords with 5 projects by simply referring your friends and get 15 of them signed up with us.
            </p> 

            <p style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:15px;line-height:1.5em;margin-top:20px;text-align:justify; color: #718096;">
               Sharing is caring. Try now 
            </p> 

            <div align="center" valign="middle" height="54" style="font-family:'Avenir Next',Arial,sans-serif;font-size:15px;color:#6f73ef;border:2px solid #6f73ef;border-radius:5px;font-weight:bold; width:150px; margin-top: 40px;"><a href="{{reflink}}" style="text-decoration:none;color:#6f73ef;display:block;line-height:30px" rel="noopener" target="_blank">Start Referring</a>
            </div>

            <p style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:14px;line-height:1.5em;margin:40px 0px 0px;text-align:left; color: #718096;">
               We like to be used. So, let's grow organically!
               <div style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:14px; font-weight: 600; line-height:1.5em; margin-top:0px; text-align:left; color: #718096;">The SearchMirror Team</div> 
            </p>  
         </td>
      </tr>
{% endblock %}
               